$breakpoint-md: 700px;
$breakpoint-lg: 1000px;

// Widths and Heights

$sidebar-sm-width: 0px;
$sidebar-md-width: 150px;
$sidebar-lg-width: 250px;

$footer-sm-height: 50px;
$footer-md-height: 75px;
$footer-lg-height: 75px;

$header-sm-height: 40px;
$header-md-height: 50px;
$header-lg-height: 50px;

// Colors

$accent-color: #ff8c00;

$wrapper-background-color: #ffffff;
$wrapper-color: #333333;

$sidebar-background-color: #708090;
$sidebar-color: #dddddd;
