@import '../../variables';

.playlist-row {
    display: flex;
    flex-direction: row;
    height: $footer-sm-height - $player-height;

    @media (min-width: $breakpoint-md) {
        height: $footer-md-height - $player-height;
    }

    @media (min-width: $breakpoint-lg) {
        height: $footer-lg-height - $player-height;
    }

    .playlist-toggle {
        flex: 2;
    }
}

.player-row {
    height: $player-height;
    display: flex;

    .player-media {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .player-controls {
            
        }
    }
}
